.form-wrapper {
    background-color: white;
    padding: 1.5em;
    border-radius: 1em;
}

.form-wrapper h1{
    font-size: 3em;
    padding: 5px;
}

.form-wrapper Button{
    text-align: center;
    }

    

    #formBasicEmail{
        font-size: 1.3em;
    }

    #form > div > form > button{
        font-size: 1.3em;
    }